<Duck DNS Token Here>
# This should be removed
# Only comments are left to explain how to get the token:
# Please login to duckdns.org first
# Then, on the top page, you should see the account, type, token, and other information.
# You need to copy the "token" value and paste in this file.
# After that, you need to delete this comments.
